version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/wd-ui"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

    groups:
      angular:
        patterns:
          - "@angular/*"
        update-types:
          - "minor"
          - "patch"
      tooling:
        patterns:
          - "@typescript-eslint/*"
          - "typescript"
          - "eslint*"
          - "prettier"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
