<mat-nav-list>
  <a mat-list-item routerLink="/">Dashboard</a>
  <a mat-list-item routerLink="/fundstuecke">Fundstücke</a>
  <a mat-list-item routerLink="/verlustmeldungen">Verlustmeldungen</a>
  <a mat-list-item routerLink="/matching">Matching</a>
  <a mat-list-item routerLink="/status">Status</a>
  <a mat-list-item routerLink="/statistik">Statistik</a>
  <a mat-list-item routerLink="/admin">Admin</a>

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/impressum">Impressum</a>
  <a mat-list-item routerLink="/kontakt">Kontakt</a>
  <a mat-list-item routerLink="/datenschutz">Datenschutz</a>
  <a mat-list-item routerLink="/hilfe">Hilfe</a>
</mat-nav-list>
